@model AppModel.ViewModels.SubjectViewModel

@{
    ViewBag.Title = "GetSubById";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="" id="LoginForm">
        <h2>Update Subject</h2>
        <h4>
            @Html.ActionLink("Subject List", "SubjectList", "Admin", htmlAttributes: new { @style = "font-weight: bold", @class = "btn btn-primary btn-sm" })
        </h4>
        <hr />
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model=>model.subj_id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.subj_name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-book"></i></span>
                                @Html.EditorFor(model => model.subj_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter UserName" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.subj_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.subj_hrs, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock"></i></span>
                                @Html.EditorFor(model => model.subj_hrs, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.subj_hrs, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-10 col-sm-offset-4 col-sm-10 col-xs-offset-4 col-xs-10">
                            <input type="submit" value="Update" class="btn btn-primary" id="btn" />
                        </div>
                    </div>
                    @if (TempData["IsExist"] != null)
                    {
                        <div class="">
                            <div class="col-md-offset-5 col-md-10 ">
                                <label class="label label-danger">@TempData["IsExist"]</label>
                            </div>
                        </div>
                    }
                    @if (TempData["IsSuccess"] != null)
                    {
                        <div class="">
                            <div class="col-md-offset-5 col-md-10 ">
                                <label class="label label-success">@TempData["IsSuccess"]</label>
                            </div>
                        </div>
                    }
                    @if (TempData["IsFail"] != null)
                    {
                        <div class="">
                            <div class="col-md-offset-5 col-md-10 ">
                                <label class="label label-danger">@TempData["IsFail"]</label>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
    </div>

}