@model IEnumerable<AppModel.ViewModels.SubjectViewModel>

@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="box-header">
                    <h1 class="">Subject List</h1>
                    @Html.ActionLink("Create New", "InsertSubject", "Admin", htmlAttributes: new { @style = "", @class = "btn btn-primary btn-sm" })
                    <hr />
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model=>model.subj_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.subj_hrs)
                                </th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.subj_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.subj_hrs)
                                    </td>
                                    <td>
                                        <a href='@Url.Action("GetSubById","Admin",new {id=item.subj_id})'><i class="fas fa-pen-square fa-2x"></i></a>
                                        <a href='@Url.Action("DeleteSub","Admin",new {id=item.subj_id})'><i class="fas fa-times-circle fa-2x text-danger" onclick="return Confirm()"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>